<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>Bespoke Pottery</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/index.css}">

    </head>


    <body>
     

        <nav>
            <div id = "nav">
                <h1 id = "heading">Bespoke <br> Pottery</h1>
                <div id = "navLinks">
                <ul>
                    <li><a  th:href="@{/}">Home</a></li>
                    <li><a  th:href="@{/custom}">Customize</a></li>
                    <li><a  th:href="@{/ready-to-use}">Ready-To-Use</a></li>
                    <li><a  th:href="@{/styles}">Styles</a></li>
                    <li><a  th:href="@{/contact}">Contact</a></li>
                    <li><a  th:href="@{/about}">About</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <div id = "aboutContainer">
            <h2> Our Purpose</h2>
            <p id = missionStatement>
                At Bespoke Pottery, we believe in the power of creativity and personal expression through the art of ceramics.
                 Our mission is to provide beautifully crafted, ready-to-use pottery pieces while offering a platform for customers to design their own custom creations. 
                 Whether you're looking for the perfect piece or seeking to create your own, we are here to guide, inspire, and bring your artistic vision to life. 
                 We are committed to delivering high-quality ceramics that reflect individuality, passion, and craftsmanship. Let us help you shape your story in clay.
            </p>


            <h2>Our Vision</h2>
            <p id = visionStatement>
                Our vision is to become a leading destination for ceramic artistry, where creativity flourishes,
                 and everyone can experience the joy of making something uniquely their own. We strive to inspire a community of makers 
                 and art lovers, empowering them to express their individuality through custom-crafted and ready-to-use pottery. Through innovation,
                  craftsmanship, and a passion for the ceramic arts, we aim to transform everyday objects into timeless expressions 
                  of personal and artistic identity.
            </p>
           
        </div>
    </body>

</html>