<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>Bespoke Pottery</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/index.css}">

    </head>


    <body>
     

        <nav>
            <div id = "nav">
                <h1 id = "heading">Bespoke <br> Pottery</h1>
                <div id = "navLinks">
                <ul>
                    <li><a  th:href="@{/}">Home</a></li>
                    <li><a  th:href="@{/custom}">Customize</a></li>
                    <li><a  th:href="@{/ready-to-use}">Ready-To-Use</a></li>
                    <li><a  th:href="@{/styles}">Styles</a></li>
                    <li><a  th:href="@{/contact}">Contact</a></li>
                    <li><a  th:href="@{/about}">About</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <div id = "contactContainer">
            <h2 >Office Hours</h2>

            <table id = "storeHours">
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>9:00 AM  - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9:00 AM  - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9:00 AM  - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9:00 AM  - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9:00 AM  - 4:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>9:00 AM  - 2:00 PM</td>
                </tr>
            </table>

            <h2>Contact Us</h2>
            <h4 id = leaveAMessage>Leave us a message with any order details or inquiries and we'll get back to you ASAP.</h4>

            <div id = "contactBox">
                <form id ="contactForm">
                    <input type="text" required placeholder="Enter Name" id = "contactName"><br>
                    <input type="email" required placeholder="Email" id = "contactEmail" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" ><br>
                    <input type="text" placeholder="Subject" id = "emailSubject"><br>
                    <input type="text" required placeholder="Enter Message" id = "contactMessage"><br>
                    <button>Send</button>
                </form>

            </div>
        </div>
    </body>

</html>