<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>Bespoke Pottery</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/index.css}">

    </head>


    <body>
     

        <nav>
            <div id = "nav">
                <h1 id = "heading">Bespoke <br> Pottery</h1>
                <div id = "navLinks">
                <ul>
                    <li><a  th:href="@{/index}">Home</a></li>
                    <li><a  th:href="@{custom.html}">Customize</a></li>
                    <li><a  th:href="@{ready-to-use.html}">Ready-To-Use</a></li>
                    <li><a  th:href="@{styles.html}">Styles</a></li>
                    <li><a  th:href="@{contact.html}">Contact</a></li>
                    <li><a  th:href="@{about.html}">About</a></li>
                </ul>
                </div>
            </div>
        </nav>
        <div id = "formContainer">
            <form  id = "customForm" action="#" method="post">
                    <h2>Select a Form:</h2>
                    <div id="imageOptions">
                        <div class="image-option" data-value="mug">
                            <img src="../images/mug.png" alt="mug">
                        </div>
                        <div class="image-option" data-value="vase">
                            <img src="../images/vase.png" alt="vase">
                        </div>
                        <div class="image-option" data-value="bowl">
                            <img src="../images/bowl (1).png" alt="bowl">
                        </div>
                        <div class="image-option" data-value="plate">
                            <img src="../images/plate (1).png" alt="plate">
                        </div>
                        <div class="image-option" data-value="teapot">
                            <img src="../images/teapot.png" alt="teapot">
                        </div>
                    </div>
                    <input type="hidden" id="selectedImage" name="selectedImage">
                    <button id = "customSubmit" type="submit">Submit</button>
            </form>

        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const form = document.getElementById('imageSelectionForm');
                const imageOptions = document.querySelectorAll('.image-option');
                const selectedImageInput = document.getElementById('selectedImage');
    
                imageOptions.forEach(option => {
                    option.addEventListener('click', function() {
                        imageOptions.forEach(opt => opt.classList.remove('selected'));
                        this.classList.add('selected');
                        selectedImageInput.value = this.dataset.value;
                    });
                });
    
                form.addEventListener('submit', function(e) {
                    e.preventDefault();
                    if (selectedImageInput.value) {
                        alert('Selected image: ' + selectedImageInput.value);
                        // Here you can send the form data to a server
                    } else {
                        alert('Please select an image');
                    }
                });
            });
        </script>



    </body>

</html>