<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>Bespoke Pottery</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/index.css}">

    </head>


    <body>
     

        <nav>
            <div id = "nav">
                <h1 id = "heading">Bespoke <br> Pottery</h1>
                <div id = "navLinks">
                <ul>
                    <li><a  th:href="@{/}">Home</a></li>
                    <li><a  th:href="@{/custom}">Customize</a></li>
                    <li><a  th:href="@{/productspage}">Ready-To-Use</a></li>
                    <li><a  th:href="@{/styles}">Styles</a></li>
                    <li><a  th:href="@{/contact}">Contact</a></li>
                    <li><a  th:href="@{/about}">About</a></li>
                    <li><a  th:href="@{/products}">Admin</a></li>

                </ul>
                </div>
            </div>
        </nav>
        <div id = "img-containers">
            <div>
                <a><img src = "../images/home1-.jpg" class ="homePic"></a>
                <a><img src="../images/home2.jpg" class = "homePic" ></a>
                <a><img src = "../images/home3.jpg" class="homePic"></a>
                
                
                <p class = "picLabel">Customize</p>
                <p class = "picLabel">Ready-To-Use</p>
                <p class = "picLabel">Explore More</p>
            </div>

        </div>

        <div>
            <h2 id = "modernElegant">Modern and Elegant Designs.</h2>
            <img src="../images/styles1.jpeg" alt="modernPieces" id = "modernPieces">
        </div>

        <div>
            <div id = "funCreativeFloat">
                <h2 id = "funCreative">Fun and Creative Customs</h2>
                <img src="../images/nasim-keshmiri-H7BufzBbMrk-unsplash.jpg" alt = "customPieces" id ="customPieces">
            </div>
            <p id = "funCreativeDesc">Lorem ipsum wehsn saiff, skad filks kaaklk dwonder, Lorem ipsum wehsn saiff, skad filks kaaklk dwonder,Lorem ipsum wehsn saiff, skad filks kaaklk dwonder,Lorem ipsum wehsn saiff, skad filks kaaklk dwonder,Lorem ipsum wehsn saiff, skad filks kaaklk dwonder,Lorem ipsum wehsn saiff, skad filks kaaklk dwonder,</p>
        </div>

    </body>

</html>