<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />

</head>
<body class="dark-theme">
<div class="navbar">
    <div class="navbar-logo">Besposke Pottery</div>
    <ul>
        <li><a th:href="@{/register}">Sign Up</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/productspage}">Products</a></li>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/products}">Admin</a></li>
    </ul>
</div>


<div class="container" style="margin-top: 5rem;">
    <h1>Admin page</h1>
    <div class="product-grid">
        <div th:each="product : ${products}" class="product-card">
            <div class="product-details">
                <h2 th:text="${product.name + ' ' + product.productType + ' ' + product.length
                + ' ' + product.width + ' ' + product.height + ' ' + product.price + ' '  + product.description + ' ' + product.style}">Vehicle</h2>
            </div>
            <div class="product-actions">
                <a th:href="@{/products/edit/{id}(id=${product.product_id})}" class="edit-button">Edit</a>
                <a th:href="@{/products/delete/{id}(id=${product.product_id})}" class="delete-button">Delete</a>
            </div>
        </div>
    </div>
    <a href="/products/new" class="add-button">Add New Product</a>

</div>

</body>
</html>