<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>Bespoke Pottery</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/index.css}">

    </head>


    <body>
     

        <nav>
            <div id = "nav">
                <h1 id = "heading">Bespoke <br> Pottery</h1>
                <div id = "navLinks">
                <ul>
                    <li><a  th:href="@{/}">Home</a></li>
                    <li><a  th:href="@{/custom}">Customize</a></li>
                    <li><a  th:href="@{/productspage}">Ready-To-Use</a></li>
                    <li><a  th:href="@{/styles}">Styles</a></li>
                    <li><a  th:href="@{/contact}">Contact</a></li>
                    <li><a  th:href="@{/about}">About</a></li>
                    <li><a  th:href="@{/cart}">Cart</a></li>
                </ul>
                </div>
            </div>
        </nav>
        <div id = "rtuContainer">
            <a><img src = "../images/nasim-keshmiri-H7BufzBbMrk-unsplash.jpg" class ="rtuPic"></a>
            <a><img src="../images/rtu2.jpg" class = "rtuPic" ></a>
            <a><img src = "../images/pexels-ivan-samkov-7119223.jpg" class="rtuPic"></a>
            
        </div>



    </body>

</html>