<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>Bespoke Pottery</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../css/index.css">

    </head>


    <body>
     

        <nav>
            <div id = "nav">
                <h1 id = "heading">Bespoke <br> Pottery</h1>
                <div id = "navLinks">
                <ul>
                    <li><a href="../html/index.html">Home</a></li>
                    <li><a href="../html/custom.html">Customize</a></li>
                    <li><a href="../html/ready-to-use.html">Ready-To-Use</a></li>
                    <li><a href="../html/styles.html">Styles</a></li>
                    <li><a href="../html/contact.html">Contact</a></li>
                    <li><a href="../html/about.html">About</a></li>
                </ul>
                </div>
            </div>
        </nav>
        <div id = "rtuContainer">
            <a><img src = "../images/nasim-keshmiri-H7BufzBbMrk-unsplash.jpg" class ="rtuPic"></a>
            <a><img src="../images/rtu2.jpg" class = "rtuPic" ></a>
            <a><img src = "../images/pexels-ivan-samkov-7119223.jpg" class="rtuPic"></a>
            
        </div>



    </body>

</html>